__pycache__/
*.pyc
.vscode/

# Ignore raw audio & large training datasets
data/
*.ogg
*.wav
*.mp3
*.csv

# Ignore heavy PyTorch training checkpoints
*.pt
*.pth

# DO NOT ignore ONNX models or JSON mappings needed for GitHub Pages
!*.onnx
!*.json